<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- CUSTOM CSS -->
  <link rel="stylesheet" href="/css/custom-css.css">
  <!-- BOXICONS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap"
    rel="stylesheet"
  />

  <title>Gestoria Integral</title>

  <!-- inspiration template -->
    <!-- http://www.templatemonsterpreview.com/demo/217801.html?_gl=1*lfik7y*_ga*NDA3OTc4NDM5LjE2MzM0ODMyNTQ.*_ga_FTPYEGT5LY*MTY0NzY1MDgzNC45LjEuMTY0NzY1MTAxMy4yNA..&_ga=2.29408191.1417041826.1647650840-407978439.1633483254&_gac=1.115394932.1646940743.CjwKCAiA4KaRBhBdEiwAZi1zzpCGWmHC2R8CwNDIfl8dL7XEfin8Uy8Gc-1CMIUaK9o6iERNtbdR3BoCv-EQAvD_BwE -->

    <!-- inspiraciones -->
    <!-- https://www.gestoriauno.com.ar/ / https://www.synergiaestudio.com.ar/ /  -->

</head>


<body>

<!-- navbar -->
<%- include("templates/navbar") %>

<!-- hero -->
<%- include("templates/index_page/hero") %>

<!-- servicios automotor -->
<%- include("templates/index_page/servicios_vehiculos") %>

<!-- CTA -->
<%- include("templates/index_page/cta") %>

<!-- servicios inmuebles -->
<%- include("templates/index_page/servicios_inmuebles") %>









<!-- TODO poner boton de whatsapp -->


  
  <!-- SERVICIOS -->
  <section id="servicios">
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>
  </section>


  <!-- SERVICIOS -->
  <section id="servicios">
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
      </div>
    </div>
  </section>



  <!-- FOOTER -->
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul>
            <li>DNRPA</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- Bootstrap JS -->
  <script src="/js/bootstrap.js"></script>
  


</body>
</html>