<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

  
<!-- SOBRE MI  -->
<section id="sobre-mi">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 my-3">
        <img
          src="/images/sobremi2.jpg"
          alt="sobre mi"
          class="img-sobre-mi img-fluid d-block mx-auto"
        />
      </div>
      <div class="col-12 col-md-6 my-3">
        <h3 class="display-5 font-weight-bold d-inline-block titulo-seccion px-5">Sobre Mi</h3>
        <ul>
          <li>mas de x años de experiencia en capital federal y gran buenos aires</li>
          <li>atencion personalizada</li>
          <li>integralmente online, no te muevas de tu casa</li>
          <li>servicio de excelencia</li>
          <li>asesoramiento profesional</li>
          <li>confidencialidad</li>
          <li>mandataria con matricula nacional</li>
          <li></li>
          <li></li>
        </ul>
        <a href="#" class="btn btn-primary">Contactame</a>


      </div>
    </div>
  </div>
</section>



</body>
</html>



<!-- navbar -->
<%- include("templates/navbar") %>

<!-- hero -->
<%- include("templates/index_page/hero") %>

<!-- servicios automotor -->
<%- include("templates/index_page/servicios_vehiculos") %>

<!-- CTA -->
<%- include("templates/index_page/cta") %>

<!-- servicios inmuebles -->
<%- include("templates/index_page/servicios_inmuebles") %>

<!-- seccion contacto -->
<%- include("templates/index_page/contacto") %>